.containerLoadMore {
  width: 100%;
}

.containerCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMore {
  margin: auto;
  display: block;
  width: 170px;
  cursor: pointer;
}
